<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.1" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Radical" version="1.5.0.0-alfa" targetFramework="net45" />
  <package id="Radical.Extensions.CastleWindsor" version="2.1.0.0-alfa" targetFramework="net45" />
  <package id="Radical.Windows" version="1.3.14.1-alfa" targetFramework="net45" />
  <package id="Radical.Windows.Presentation" version="1.10.0.0-alfa" targetFramework="net45" />
  <package id="Radical.Windows.Presentation.CastleWindsor" version="1.3.0.0-alfa" targetFramework="net45" />
</packages>